* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  background-color: #f7f7f7;
  font-size: 18px;
}

main {
  padding: 20px;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.header {
  display: block;

  width: 100%;

  border-bottom: 0.1rem dotted #ddd;
}

.header.container {
  line-height: 5.2rem;
}

.header-title {
  text-align: center;

  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

#content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outer,
.outer .inner {
  border-radius: 50%;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer {
  width: 50vmin;
  height: 50vmin;

  max-width: 250px;
  max-height: 250px;
}

.outer .inner {
  width: 40vmin;
  height: 40vmin;

}

.outer .inner img {
  width: 85%;
  height: 85%;

  max-height: 128px;
  max-width: 128px;
}

.outer {
  cursor: pointer;

  background-color: #f9f9f9;

  -webkit-transition: 0.1s ease-out;

  transition: 0.1s ease-out;

  box-shadow: inset 0 0 5px 0 #fff;
  border-width: 1px;
  border-style: solid;
  border-left-color: #ddd;
  border-right-color: #ddd;
  border-top-color: #dde;
  border-bottom: 4px solid #ccc;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}

.outer:active {
  margin-top: 4px;
  color: #777;
  border: 1px solid #bbb;

  box-shadow: inset 0 0 5px 0 #bbb;
}

.outer:hover,
.outer:focus {
  outline: none;
}

.outer .inner {
  background-color: transparent;
}
